<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{home_text}">Home</h1>
				
				<div class="menu">
					<a th:each="page : ${session.pageMenu}" class="item" th:classappend="${page.url} == ${session.currentPage.url} ? 'active'" th:href="${page.url} != '' ? @{|${page.url}.html|} : @{|/|}" th:title="${page.pageLocale[__${#locale.language}__].title}" th:text="${page.pageLocale[__${#locale.language}__].menu}"></a>
				</div>
				
				<table class="table table-striped" th:if="${not #lists.isEmpty(session.currentPage.pageLocale)}" style="width: 600px;">
					<tr>
						<td><b th:text="${session.currentPage.url}">url</b></td>
						<td><b th:text="${session.currentPage.action}">url</b></td>
						<td><b th:text="${session.currentPage.controller}">url</b></td>
						<!-- <td><b th:text="${session.currentPage.pageLocale[__${#locale.language}__].menu}">url</b></td> -->
					</tr>
				</table>
						<span th:text="${#locale.language}">US</span>
			</div>
		</div>
	</div>
</body>
</html>